.headings4{
    color:#000000 ;
    font-size: 35px;
    font-family: kg happy;
}

body{
    overflow: scroll;
    background-color: rgb(105, 105, 105);
}

#back_btn_1{
    width: 100px;
    height: 50px;
    font-size: 28px;
    font-family: coolvetica;
    background-color: cadetblue;
    margin: 10px;
}